body {
    text-align: center;
}
.nav {
    padding: 0px;
    margin: 0%;
    display: flex;
}

.nav li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px;
    font-family: 'EB Garamond',serif;
    color: rgb(160, 155, 155);
}
li.active, .nav li:hover{
    color: black;
}
.logo {
    margin: 10px;
}
.search_bar{
    border-bottom: 1px solid rgb(100, 100, 100);;
}
.search_bar input{
    border: none;
    text-align: left; 
}
.search_bar input:focus{
    outline: none;
}